@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&family=Stick+No+Bills:wght@800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    color: #fff;
}
.navbar{
    color: #fff;
    display: flex;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px rgba(60, 64, 67, 0.15) 0px 1px 3px 1px ;
    position: sticky;
    width: 100%;
}
.navbar img{
    width: 150px;
    height: 85px;
    margin: 15px 120px 0 56px;
}
.navbar button{
    border-radius: 30px;
    margin-left: 15px;
    color: #fff;
    cursor: pointer;
}
.navbar li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 18px;
    margin-right: 10px;
}

.navbar li:hover{
    color: red;
    text-decoration: wavy;
    cursor: pointer;
}
.order-btn{
    background-color: red;
    display: flex;
    padding: 8px 15px 8px 15px;
    align-items: center;
    margin-right: 20px;
    border: none;
}
.get-button{
    padding: 20px 35px 20px 35px;
    background: transparent;
    border: 1px solid #fff;
    font-size: 15px;
    font-weight: 500;
}
.order-btn i{
    font-size: 40px;
    padding-left: 10px;
}
a{
    text-decoration: none;
}

.myslides{
    display: none;
}
.myslides img{
    vertical-align: middle;
    width: 100%;
    max-height: 600px;
}

.slideshow-container{
    position: relative;
    margin: auto;
    width: 100%;
}
.dot{
    height: 10px;
    width: 30px;
    margin: 0 2px 25px;
    background-color: #bbb;
    border-radius: 10px;
    display: inline-block;
    transition: 0.6s ease;
}
.active{
    background-color: #707070;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade{
    from{
        opacity: .4;
    }
    to{
        opacity: 1;
    }
}
.welcome-container{
    font-family: sans-serif;
    font-weight: 200;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-weight: 200;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
span{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Stick No Bills','sans-serif';
}
p{
    color: #bbb;
    font-size: 15px;
}
.cart-container{
    display: flex;
}
.cart{
    margin: 20px;
    border-radius: 6px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cart img{
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 6px;
    padding: 10px;
    width: 250px;
    height: 120px;
    cursor: pointer;
}
.cart button{
    padding: 15px 45px 15px 45px;
    border-radius: 30px;
    background: transparent;
    font-size: 15px;
    color: white;
    border: 1px solid #fff;
}
.cart button:hover{
    cursor: pointer;
}
.franchise-section{
    position: relative;
    background-color: rgba(255,255,255,0.06);
    padding: 70px;
}
.right{
    position: absolute;
    right: 32px;
    top: 32px;
}
.row{
    display: flex;
    margin-top: 40px;
    width: 100%;
    justify-content: center;
}
.row-left{
    text-align: left;
    margin-right: 100px;
    width: 50%;
}
.row-left i{
    margin-right: 5px;
}
.row-right i{
    margin-right: 5px;
}
.franchise-section p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255,255,255,0.7);
    margin-bottom: 10px;
}
.row-right{
    text-align: left;
    width:50%;
}
small{
    color: red;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 8px;
}
img:hover{
    cursor: pointer;
}
h3{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.direction-button button{
    background: transparent;
    border: 1px solid#fff;
    color: #FFFFFF;
    padding: 10px 35px 10px 35px;
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
}
.direction-button button:hover{
    cursor: pointer;
    border: 1px solid red;
}
.direction-button button i{
    font-size: 30px;
    margin-left: 10px;
    align-items: center;
    color: red;
}
h1, h1>span{
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.franchise-section-2{
    position: relative;
    padding: 70px;
}
.left{
    position: absolute;
    left: 32px;
    top: 32px;
}
.exp-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}
.exp-cart , .village-franchise i{
    margin-right: 5px;
    font-size: 20px;
}
.exp-cart small{
    font-size: 12px;
    font-weight: 200;
}
.exp-cart , .village-franchise span{
    font-size: 30px;
    margin-right: 10px;
}
.row-2 , .row-exp{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'Butler';
    font-size: 40px;
}
.village-franchise{
    background-color: rgba(255,255,255,0.06);
}
.op{
    font-size: 30px;
    font-family: 'Butler';
    font-weight: 400;
}
.cart-1{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 350px;
    height: 250px;
    margin-right: 30px;
    margin-top: 30px;
    border-radius: 6px;
}
.cart-1 img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.cart-1 small{
    font-size: 10px;
    letter-spacing: 5px;
}
.cart-1 p{
    color: black;
    font-family: 'Butler';
    font-size: 22px;
    font-weight: 400;
    margin-top: 8px;
}
.cart-1 span{
    font-family: 'Butler';
    font-size: 30px;
    margin-right: 8px;
}
.social{
    margin-top: 40px;
    margin-bottom: 40px;
}
.social img{
    width: 240px;
}
.social-img{
    display: flex;
}
.s-img{
    margin-right: 15px;
}
.footer{
    max-width: 1140px;
    margin: 0 auto;
}
.footer-container{
    color: #fff;
    float: left;
    width: 100%;
    padding: 70px 15px 0px 15px;
    background: rgba(255,255,255,0.06);
    position: relative;

}
.footer-databox{
    display: grid;
    width: 100%;
    grid-template-columns: 1.5fr 0.8fr 0.8fr 0.8fr;
    grid-template-rows: auto;
    grid-template-areas: ". . . . ";
    gap: 30px 45px;
    position: relative;
    z-index: 1;
    padding-bottom: 55px;
}
.footer-logo{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.footer-logo li{
    margin: 0;
    padding: 10px 0px 0px 0px;
    font-size: 15px;
    font-weight: 400;
    color: #bbb;
    list-style: none;
}
h4{
    font-size: 18px;
    font-family: 'Butler';
    margin: 15px;
}
.footer-icons i{
    font-size: 40px;
    color: red;
    margin-top: 20px;
}
.footer-icons img{
    margin-top: 20px;
}
.row-copy{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 5px;
    color: #bbb;
    border-top: 2px solid #bbb;

}
.copyright{
    margin-right: 900px;
}
.footer-back img{
    position: absolute;
    left: -10px;
    top: 0px;
}
